@import "base.css";

button {
    cursor: pointer;
    /* -webkit-appearance: none; */
    /* appearance: button; */
}

header {
    border: 3px solid red;
    display: flex;
    background-color: beige;
    justify-content: space-between;
}

h1 {
    background-color: aquamarine;
    margin-inline-start: auto;
    margin-inline-end: auto;
}

form {
    border: 3px solid green;
    display: flex;
    align-items: center;
}

main {
    border: 3px solid black;
}

.ph {
    border: 3px solid salmon;
}

.artcl-info-cntnr {
    display: flex;
    align-items: center;
    border: 2px solid seagreen;
    padding: 4px;
    gap: 3px;
}

.title-btn {
    inline-size: 30ch;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/* .frthr-lnks-btn {
    border: none;
} */
