@import "base.css";

button {
    cursor: pointer;
}

form {
    margin: 0 auto;
    inline-size: fit-content;
    border: 3px solid blue;
}

header {
    border: 3px solid red;
    text-align: center;
}

main {
    border: 3px solid black;
}

.ph {
    border: 3px solid salmon;
}

.artcl-info-cntnr {
    display: flex;
    align-items: center;
    border: 2px solid seagreen;
    padding: 4px;
    gap: 3px;
}

.title-btn {
    inline-size: 30ch;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/* .frthr-lnks-btn {
    border: none;
} */
